.popup.js-popup.popup_city
  .popup__container
    .popup__head
      span.popup__head-legend Ваш город Барнаул?
    .popup__footer
      +button('Да, все верно', null, 'small _no-icon')
      +button('Выбрать город', null, 'small _no-icon _stroke')(data-path="city")
