.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  padding-top: 1.2rem;
  height: var(--header-height);

  &__row {
    &:nth-child(1) {
      margin-bottom: 1.9rem;
    }

    .grid-container__block {
      display: flex;
      align-items: center;

      &._flex-gap {
        gap: 1.2rem;
      }
    }
  }

  &__page-link {
    display: inline-block;
    padding: 0.3rem 1.2rem;
    font: var(--font-text-t4);
    color: var(--color-base-dark);
    background-color: var(--color-grey-200);
    border-radius: 5rem;
    margin-right: 0.8rem;
  }

  &__popup-btn {
    position: relative;
    font: var(--font-text-t4);
    color: var(--color-base-dark);
    background-repeat: no-repeat;
    background-size: 1.6rem 1.6rem;
    background-position: center left;
    padding-left: 2.2rem;
    margin-right: 1.7rem;

    &:nth-last-of-type(1) {
      margin-right: 8.9rem;
    }

    &._city {
      background-image: url(../assets/icons/mono/navigation.svg);
    }

    &._orderStatus {
      background-image: url(../assets/icons/mono/clock.svg);
    }
  }

  &__top-nav {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-right: 6.2rem;
  }

  &__top-nav-link {
    font: var(--font-text-t4);
    color: var(--color-grey-600);
  }

  &__tel {
    margin-right: 1rem;
  }

  &__tel-number {
    display: block;
    font: var(--font-text-t4-md);
    color: var(--color-base-dark);
  }

  &__tel-text {
    font: var(--font-text-t5);
    color: var(--color-grey-600);
  }

  &__personal-cabinet-btn {
    display: flex;
    align-items: center;
    padding: 1rem 1.2rem;
    border-radius: 99.9rem;
    background-color: var(--color-grey-200);
    margin-left: auto;
  }

  &__personal-cabinet-btn-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 0.9rem;
    color: var(--color-grey-600);
  }

  &__personal-cabinet-btn-count {
    display: inline-flex;
    align-items: center;
    padding: 0.3rem 0.8rem;
    color: var(--color-white);
    font: var(--font-text-t5-md);
    border-radius: 99.9rem;
    background: linear-gradient(281.19deg, #14B2F2 -16.7%, #D222CB 120.21%);
  }

  &__personal-cabinet-btn-count-icon {
    margin-right: 0.4rem;
  }

  &__logo-link {
    display: inline-block;
  }

  &__logo {
    display: block;
    width: 32.2rem;
    height: 6.7rem;
    object-fit: contain;
  }

  &__catalog-btn {
    .button__inner {
      pointer-events: none;
    }

    &.is-active {
      ._hidden {
        display: block;
      }

      ._shown {
        display: none;
      }
    }

    ._hidden {
      display: none;
    }
  }

  &__sales-btn {
    .icon {
      fill: none;
      stroke: currentColor;
    }
  }

  &__search {
    position: relative;
    max-width: 65.6rem;
    width: 100%;
    height: 4.4rem;
    border-radius: 0.8rem;
  }

  &__search-btn {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    width: 2rem;
    height: 2rem;
    display: block;
    transform: translateY(-50%);
    color: var(--color-grey-500);

    &.is-cross-shown {
      .header__search-btn-icon {
        display: none;

        &._cross {
          display: block;
        }
      }
    }
  }

  &__search-btn-icon {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: currentColor;

    &._cross {
      display: none;
      fill: currentColor;
      stroke: none;
    }
  }

  &__info-btns {
    margin-left: auto;
    display: flex;
  }
}
