.input {
  background-color: var(--color-grey-200);
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  color: var(--color-grey-400);
  font: var(--font-text-t3);
  width: 100%;

  @include placeholder {
    color: var(--color-grey-400);
    font: var(--font-text-t3);
  }
}
