-
  const topNav = [
    "Доставка и оплата",
    "Гарантия и сервис",
    "Покупателям",
    "Магазины",
  ]

header.header
  .site-container.header__container
    .header__row.grid-container
      .grid-container__block
        a.header__page-link(href="./") Частным клиентам
        a.header__page-link(href="./") Бизнесу
      .grid-container__block
        .header__popup-btn-wrapper.js-popup-parent
          button.header__popup-btn._city.js-popup-open Барнаул
          include popups/popupCity.pug
        button.header__popup-btn._orderStatus Статус заказа
        ul.header__top-nav
          for item in topNav
            li.header__top-nav-item
              a.header__top-nav-link(href="./")= item
        a(href="tel:+78005502015" class="header__tel")
          span.header__tel-number
            | 8 800 550–20–15
          span.header__tel-text Бесплатно по России
        a.header__personal-cabinet-btn(href="./")
          +icon-mono("user")(class="header__personal-cabinet-btn-icon" width="20" height="20")
          span.header__personal-cabinet-btn-count
            +icon-mono("bonus")(class="header__personal-cabinet-btn-count-icon" width="14" height="14")
            | 420

    .header__row.grid-container
      .grid-container__block
        a.header__logo-link(href="./")
          img(src="images/logo.svg" alt="Логотип Медикамаркет" class="header__logo")
      .grid-container__block._flex-gap
        button.button.header__catalog-btn.small.js-open-catalog-menu
          span.button__inner
            +icon-mono("menu")(class="button__icon _shown" width="24" height="24")
            +icon-mono("cross")(class="button__icon _hidden" width="24" height="24")
            span.button__name
              | Каталог
        +button("Акции", "sale", "small _stroke")(class="header__sales-btn")
        form.header__search(action="/")
          button.header__search-btn.js-search-btn(type="button")
            +icon-mono("search")(class="header__search-btn-icon" width="20" height="20")
            +icon-mono("cross")(class="header__search-btn-icon _cross" width="20" height="20")
          input(type="text" class="input js-search-input" name="q" placeholder="Поиск оборудования")
          include searchResults.pug
        .header__info-btns
          .info-btn__wrapper.js-popup-parent
            button.info-btn.js-popup-open
              +icon-mono("like")(class="info-btn__icon" width="24" height="24")
              span.info-btn__count 7
            include popups/smallLikes.pug
          .info-btn__wrapper.js-popup-parent
            button.info-btn.js-popup-open
              +icon-mono("comparison")(class="info-btn__icon" width="24" height="24")
              span.info-btn__count 7
            include popups/smallComparison.pug
          .info-btn__wrapper.js-popup-parent
            button.info-btn.js-popup-open
              +icon-mono("cart")(class="info-btn__icon" width="24" height="24")
              span.info-btn__count 7
            include popups/smallCart.pug
  include catalogMenu.pug
