.popup.js-popup
  .popup__container
    ul.popup__body.js-simple-bar
      li.popup__body-item
        +catalog-cart-small("Тонометр LD 30 с сетевым адаптером", "img1", "4 334 ₽", null, icon = true, "2 шт.")
      li.popup__body-item
        +catalog-cart-small("Тонометр LD 30 с сетевым адаптером", "img1", "4 334 ₽", null, icon = true, "2 шт.")
      li.popup__body-item
        +catalog-cart-small("Тонометр LD 30 с сетевым адаптером", "img1", "4 334 ₽", null, icon = true, "2 шт.")
      li.popup__body-item
        +catalog-cart-small("Тонометр LD 30 с сетевым адаптером", "img1", "4 334 ₽", null, icon = true, "2 шт.")
      li.popup__body-item
        +catalog-cart-small("Тонометр LD 30 с сетевым адаптером", "img1", "4 334 ₽", null, icon = true, "2 шт.")
    .popup__footer
      +button('Смотреть избранное', null, 'small _no-icon popup__footer-btn')
